# Aliases for making it easer to get around the Terminal

# Shorcuts to get around faster
alias db="cd ~/Dropbox"
alias dot="cd ~/dotfiles"
alias dc="cd ~/Documents"
alias dl="cd ~/Downloads"
alias ..="cd .."
alias hd="cd /"
alias sc="cd ~/dotfiles/scripts"

# Git
alias g='git'
alias gaa="g add ."
alias gs="g status"
alias gp="g push origin master"
alias gitme="g config --global user.email eboxhead@gmail.com"
alias gitdis="g config --global user.email eric.boxer@disney.com"

# Terminal Commands
alias lsa="ls -a"

# Sublime Text
alias sublime="subl"

#python stuffs
alias python='python3'
alias python2='\python'

#folder and file colors
alias dircolors='gdircolors'
alias ls="ls -G"

# Homebrew

alias brewout="brew update -v && brew outdated"
alias brewdump="cd ~/Dotfiles && brew bundle dump --force --describe && cd -"